@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500;600;700&display=swap');

html {
  scroll-behavior: smooth;
}

#root,
body,
html {
  height: 100%;
  background-color: #f6f6f6;
}

* {
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  /*max-width: 100%;*/
}

#root,
#__next {
  isolation: isolate;
}
